<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.risonaza.os.risonaza">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminActivity"></activity>
        <activity android:name=".SportsSchedualActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".ContactusActivity" />
        <activity android:name=".culturalActivity" />
        <activity android:name=".TechActivity" />
        <activity android:name=".SportsActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyAlarm"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>